<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Arun Karthikeyan's Home Page</title>
  <!-- build:css styles/main.css -->
  <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="./css/appstyle.css" rel="stylesheet">
  <!-- endbuild -->
</head>
<body>
  <header class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Welcome to Aribabot</h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
     <div class="row">
         <div class="col-xs-12">
             <h1>Prototype page</h1>
        </div>
      </div>
    </div>
    <div ng-app="botapp">
        <div ng-controller="bot-controller">
        <input type="text" ng-model="question" placeholder="Enter your input here"></input>
        <button type="submit" ng-click="submit()"></button>
    </div>
  </div>

<!-- build:js scripts/main.js -->
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./node_modules/socket.io-client/socket.io.js"></script>
<script src="./js/botapp.js"></script>
<script src="./js/botapp.controllers.js"></script>
<script src="./js/botapp.services.js"></script>
<!-- endbuild -->
</body>
</html>
