<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ticky the Tech Support Guy</title>
  <!-- build:css styles/main.css -->
  <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="./css/appstyle.css" rel="stylesheet">
  <!-- endbuild -->
</head>
<body>
  <header class="jumbotron jumbotron-ticky">
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <div>
            <!-- for ticky description -->
            Hi I'm ticky
          </div>
          <div>
            <!-- the chat window -->
          </div>
        </div>
        <div class="col-xs-4" style="text-align: center;">
          <img src="./images/tubik_studio_free_space_wallpaper_2.png"/>
          <!-- for ticky image -->
        </div>
      </div>
    </div>
  </header>

  <!-- <div class="container">
     <div class="row">
         <div class="col-xs-12">
             <h1>Prototype page</h1>
        </div>
      </div>
    </div> -->
    <!-- <div ng-app="botapp">
        <div ng-controller="bot-controller">
        <input type="text" ng-model="question" placeholder="Enter your input here"></input>
        <button type="submit" ng-click="submit()"></button>
    </div> -->
  </div>

<!-- build:js scripts/main.js -->
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./node_modules/socket.io-client/socket.io.js"></script>
<script src="./js/botapp.js"></script>
<script src="./js/botapp.controllers.js"></script>
<script src="./js/botapp.services.js"></script>
<!-- endbuild -->
</body>
</html>
